<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error del servidor - BeSalud</title>
    <link rel="stylesheet" th:href="@{/css/global.css}" />
</head>
<body>
<header th:replace="~{fragments/layout :: header-brand}"></header>

<div class="container">
    <div class="card card-center text-center">
        <h2>Algo salió mal</h2>
        <p class="mb-20">
            Ha ocurrido un problema en el sistema. Estamos trabajando para resolverlo lo antes posible.
        </p>

        <div>
            <a th:href="@{/}" class="btn btn-primary">Volver al inicio</a>
            <a href="javascript:history.back()" class="btn btn-link">Regresar</a>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/layout :: footer}"></footer>
</body>
</html>
